<a href="https://colab.research.google.com/github/alonsosilvaallende/COVID-19/blob/master/COVID_19_Testing_Bar_Chart_Race.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [0]:
data_raw = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv')

In [115]:
data_raw.head()

  iso_code location  ... new_tests_per_thousand  tests_units
0      ABW    Aruba  ...                    NaN          NaN
1      ABW    Aruba  ...                    NaN          NaN
2      ABW    Aruba  ...                    NaN          NaN
3      ABW    Aruba  ...                    NaN          NaN
4      ABW    Aruba  ...                    NaN          NaN

[5 rows x 16 columns]

In [0]:
list_OCDE = ['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 
                  'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France',
                  'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland',
                  'Israel', 'Italy', 'Japan', 'Korea', 'Latvia',
                  'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand',
                  'Norway', 'Poland', 'Portugal', 'Slovakia', 'Slovenia',
                  'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom']

In [0]:
list_latinoamerica = ['Argentina', 'Bolivia', 'Chile', 'Colombia',
                     'Costa Rica', 'Cuba', 'Ecuador', 'El Salvador',
                     'Mexico', 'Panama', 'Paraguay',
                     'Peru', 'Uruguay']

In [54]:
!pip install bar_chart_race

Collecting bar_chart_race
  Downloading https://files.pythonhosted.org/packages/1b/46/88f158390994266a3808b4a9ff0ebcdb377156ab19f290ed15bfa7f21a86/bar_chart_race-0.0.6-py3-none-any.whl
Installing collected packages: bar-chart-race
Successfully installed bar-chart-race-0.0.6

In [0]:
import bar_chart_race as bcr

In [0]:
# data = pd.DataFrame()
# data['date'] = data_raw[data_raw['location'].str.contains('Chile')]['date']
# data['Chile'] = 1000*data_raw[data_raw['location'].str.contains('Chile')]['total_tests_per_thousand']
# data = data.set_index('date')

In [0]:
# for country in list_latinoamerica:
#   data[country] = 1000*data_raw[data_raw['location'].str.contains(country)][['date','total_tests_per_thousand']].set_index('date')

In [0]:
# data = data.fillna(method='pad')
# data = data.fillna(0)
# data = data.loc[:'2020-04-27']

In [0]:
data = pd.DataFrame()
data['date'] = data_raw[data_raw['location'].str.contains('Italy')]['date']
data['Italy'] = 1000*data_raw[data_raw['location'].str.contains('Italy')]['total_tests_per_thousand']
data = data.set_index('date')

In [0]:
for country in list_OCDE:
  data[country] = 1000*data_raw[data_raw['location'].str.contains(country)][['date','total_tests_per_thousand']].set_index('date')

In [0]:
data = data.fillna(method='pad')
data = data.fillna(0)
data = data.loc[:'2020-04-27']

In [0]:
bcr.bar_chart_race(
    df=data,
    filename='covid19_tests_OECD.mp4',
    orientation='h',
    sort='desc',
    label_bars=True,
    use_index=True,
    steps_per_period=10,
    period_length=500,
    figsize=(6.5, 3.5),
    cmap='dark24',
    title='COVID-19 Tests per Million in OECD Countries',
    bar_label_size=7,
    tick_label_size=7,
    period_label_size=16,
    fig=None)

In [0]:
from google.colab import files
files.download("covid19_tests_OECD.mp4")